.start{
    text-align: center;
    background-color: yellow;
    color: black;
    padding: 0%;
    margin: 0%;
    display: block;
    width: 100%;
    height: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 36px;   
}

body{
    margin: 0%;
    font-family: 'Exo 2', sans-serif;
    padding-bottom: 5%;
}

.top1{
    padding-left: 2%;
    font-size: 50px;
}

.img1{
    text-align: center;  
}

.text0{
    padding-left: 8%;
    font-size: 28px;
    padding-right: 8%;
    padding-top: 1%;
}

.text1{
    padding-top: 3%;
}

.text1 h1{
    font-size: 35px;
    padding-left: 5%;
}

.text1 img{
    float: left;
    padding-right: 8%;
    padding-left: 8%;
}

.text1 p{
    font-size: 28px;
    padding-left: 4%;
    padding-right: 8%;
}

.butn1 button{
    color: rgb(0, 0, 0);
    background-color: yellow;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
    width: 210px;
    height: 75px;
    font-size: 23px;
    font-family: 'Exo 2', sans-serif;
    margin-left: 70%;
}

.butn1:hover{
opacity: 75%;
}
